.fountS{
     color: blue; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img1{
     height: 230px; width: 470px;
}
.simg1{
     height: 200px; width: 230px;
}
.simg2{
     height: 200px; width: 230px;
}
.simg3{
     height: 200px; width: 230px;
}
.simg4{
     height: 200px; width: 230px;
}
.heading0{
    text-align: center; font-family: 'Times New Roman', Times, serif; color: blue;
}
.heading1{
     font-family: 'Times New Roman', Times, serif; color: blue;
}
.img0{
     height: 350px; width: 1263px;
}
.heading2{
     text-align: center; font-family: 'Times New Roman', Times, serif; color: blue;
}
.si1{
     height: 100px;
}
.si2{
     height: 100px;
}
.si3{
     height: 100px;
}
.si4{
     height: 100px;
}
.heading3{
     text-align: center; font-family: 'Times New Roman', Times, serif; color: blue;
}
