#t1{
  border: 1px solid black;
}
.t1h{
  border: 1px solid red;
}
.t1d{
  border: 1px solid blue;
}

#t2{
  border: 1px solid black;
}
.t2h{
  border: 1px solid orange;
}
.t2d{
  border: 1px solid green;
}
